.modal-custom .modal-content {
  border-radius: 12px;
  min-width: 500px;
  max-width: 800px;
}

.modal-custom .modal-header {
  border-bottom: none;
}

.modal-custom .modal-footer {
  border-top: none;
}
