.order-details-wrapper .right-sidebar, .table-details-wrapper .right-sidebar {
  width: 700px;
}

.order-details-wrapper .border-bottom.section-title {
  background-color: #EEF2FF;
}

.order-details-lagend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 1rem;
}

.order-details-section {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}

.order-details-section-title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #9aa0a6;
}

.order-details-section-description {
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.order-details-section-description i {
  font-size: 16px;
  font-weight: 700;
  color: #9aa0a6;
}