body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Remove hover/focus background and outline for all buttons/icons */
button,
.btn,
.btn:focus,
button:focus,
button:hover,
.btn:hover {

  outline: none !important;
  /* remove focus outline */
  box-shadow: none !important;
  /* remove focus shadow */
}

/* Specifically for all Bootstrap Icons if inside buttons/links */
.bi,
.bi:hover,
.bi:focus {
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

.mz-support__nav {
  background: #EFDDDC;
  padding: 0.5rem 0;
}

.mz-call__text {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.mz-support__wrapper {
  padding: 0 1rem;
}

.mz-support__wrapper .bi.bi-headset {
  font-size: 28px;
  color: #000;
  border: 1px solid #000;
  border-radius: 25px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mz-call__phone a {
  text-decoration: none;
  color: #d32f2f;
  font-size: 16px;
  font-weight: bold;
}

/* menu links items  */
.mz-menu__wrapper {
  cursor: pointer;
}

.mz-menu__wrapper .bi {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.mz-menu_link-item a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
}

.icon-bg:before {
  background: white;
  padding: 5px;
  border-radius: 9px;
  border: 1px solid grey;
}

.modal-backdrop {
  z-index: 1040 !important;
  /* keep backdrop below modal */
}

.modal {
  z-index: 2000 !important;
  /* higher than sidebar */
}

.modal-backdrop.show {
  background-color: rgba(0, 0, 0, 0.6) !important;
  /* darker overlay */
  backdrop-filter: blur(2px);
  /* optional: adds blur effect */
  z-index: 1080 !important;
}